.heart-icon-red {
  color: rgb(214, 38, 38);
  cursor: pointer;
  font-size: 20px;
}
.heart-icon-blue {
  color: #037493;
  cursor: pointer;
  font-size: 20px;
}
.btn-action {
  margin-left: 7px;
}
.btn-action-clr {
  fill: #037493;
  cursor: pointer;
}
.cb2-icon {
  margin-bottom: 14px;
}
.vsc-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 14px;
}
.loadcase-link {
  color: #212121;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #0a6ebd;
  }
}
